---
import { faArrowRight } from "@fortawesome/free-solid-svg-icons";
import Icon from "./Icon.astro";
import { ItemShifter } from "./ItemShifter";

interface Props {
  earliestYear?: string;
}

const earliestYear = Astro.props.earliestYear;
---

<div
  class='h-screen px-[12vw] lg:px-[4vw] lg:ml-[44vw] flex justify-center flex-col'
>
  <h1
    class='text-[60px] leading-[55px] lg:text-[120px] lg:leading-[105px] flex lg:-ml-3 -mt-1'
  >
    <p class='flex flex-col'>
      <ItemShifter client:only text='Books' />
      <span class='outlined'>I've</span>
      <ItemShifter client:only text='been' />
      <span class='outlined'>reading</span>
    </p>
  </h1>
  <span class='text-xl lg:text-3xl flex mt-12'>
    <p>{new Date().getFullYear()}</p>

    <Icon class='w-4 lg:w-6 mx-4 pb-2 opacity-70 mt-1' icon={faArrowRight} />
    <p>{earliestYear}</p>
  </span>
</div>
